In [11]:
import pandas as pd
import itertools
from statsmodels.tsa.arima.model import ARIMA

In [2]:
df = pd.read_csv("preprocessed_success_trans0725_0824.csv", parse_dates=['Datetime'])

In [3]:
df.head()

                   Datetime  success_transactions
0 2023-07-26 00:00:00+00:00                 528.0
1 2023-07-26 00:05:00+00:00                 672.0
2 2023-07-26 00:10:00+00:00                 770.0
3 2023-07-26 00:15:00+00:00                 668.0
4 2023-07-26 00:20:00+00:00                 816.0

In [4]:
df.tail()

                      Datetime  success_transactions
8347 2023-08-23 23:35:00+00:00                 757.0
8348 2023-08-23 23:40:00+00:00                 827.0
8349 2023-08-23 23:45:00+00:00                 913.0
8350 2023-08-23 23:50:00+00:00                 757.0
8351 2023-08-23 23:55:00+00:00                 726.0

In [5]:
df.shape

(8352, 2)

In [6]:
df.set_index('Datetime', inplace=True)

In [7]:
df.head()

                           success_transactions
Datetime
2023-07-26 00:00:00+00:00                 528.0
2023-07-26 00:05:00+00:00                 672.0
2023-07-26 00:10:00+00:00                 770.0
2023-07-26 00:15:00+00:00                 668.0
2023-07-26 00:20:00+00:00                 816.0

In [8]:
p, d, q = [6, 12], [0], [0, 6, 12]
p_seasonal, d_seasonal, q_seasonal = [0], [0, 1, 2], [0, 6, 12]

In [ ]:
%%time

#count = 0
y_preds= []
#count = 0
for hyperparam in list(itertools.product(p, d, q, p_seasonal, d_seasonal, q_seasonal)):
    print(hyperparam)
    model = ARIMA(df.asfreq('5min'),
                  order = (hyperparam[0], hyperparam[1], hyperparam[2]),
                  seasonal_order = (hyperparam[3], hyperparam[4], hyperparam[5], 288))
    model = model.fit()
    y_pred = model.forecast(24)[0:24]
    y_preds.extend([y_pred])
    
    # if count == 0:
    #     break

(6, 0, 0, 0, 0, 0)
(6, 0, 0, 0, 0, 6)

IOStream.flush timed out

In [13]:
y_preds[0]

2023-08-24 00:00:00+00:00    776.396215
2023-08-24 00:05:00+00:00    741.220390
2023-08-24 00:10:00+00:00    742.578645
2023-08-24 00:15:00+00:00    773.442454
2023-08-24 00:20:00+00:00    759.476502
2023-08-24 00:25:00+00:00    753.148092
2023-08-24 00:30:00+00:00    762.883098
2023-08-24 00:35:00+00:00    756.268690
2023-08-24 00:40:00+00:00    752.293727
2023-08-24 00:45:00+00:00    756.719742
2023-08-24 00:50:00+00:00    754.620698
2023-08-24 00:55:00+00:00    752.450991
2023-08-24 01:00:00+00:00    753.948100
2023-08-24 01:05:00+00:00    752.857810
2023-08-24 01:10:00+00:00    751.368075
2023-08-24 01:15:00+00:00    751.584001
2023-08-24 01:20:00+00:00    750.888334
2023-08-24 01:25:00+00:00    749.888678
2023-08-24 01:30:00+00:00    749.640674
2023-08-24 01:35:00+00:00    749.073577
2023-08-24 01:40:00+00:00    748.312869
2023-08-24 01:45:00+00:00    747.873653
2023-08-24 01:50:00+00:00    747.335614
2023-08-24 01:55:00+00:00    746.695820
Freq: 5T, Name: predicted_mean, dtype: float64